<div class="user-details" style="margin-bottom: 40px">
    <h1>{% t concert.title %}</h1>

    <table border="0" cellspacing="0" cellpadding="0" style="display: inline; margin-top: 20px">
        <tr>
            <td style="padding: 12px 18px 12px 18px; border-radius:5px; background-color: #1F7F4C;" align="center">
                <a href="mailto:lumia.theband@gmail.com" target="_blank" style="font-size: 18px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; color: #ffffff; text-decoration: none; display: inline-block;">{% t concert.button %}</a>
            </td>
        </tr>
    </table>
</div>