<div id="particles-js">
    <div id="particles-js-pre-space">
    </div>
    <img id="particles-image-small-screen" class="particles-image" src="assets/lumia-8.jpg">
    <img id="particles-image-big-screen" class="particles-image" src="assets/lumia-9.jpg">
    <div class="header" id="particles-js-space">
        <h1>
            <img id="logo" src="assets/logo.png">
        </h1>
    </div>
    <a href="#about" class="down circle-arrow" data-scroll><i class="icon fa fa-chevron-circle-down" aria-hidden="true"></i></a>
</div>
