<!DOCTYPE html>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/konpa/devicon@df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
<html lang="en">
  {% include head.html %}
  <body>
      {% include header.html %}
      <div id="about">
        {% include about.html %}
      </div>
      <section id="listening">
          {% include listening.html %}
      </section>
      <section id="concert">
          {% include concert.html %}
      </section>
        {{ content }}
      {% include footer.html %}
  </body>
</html>
